@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

canvas {
    background-color: #121212;
}
.screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
}

.screen h1{
    font-size: 1.5rem;
    color: wheat;
}

.screen span {
    font-size: 0.6rem;
    color: #aaa;
    margin-top: auto;
    margin-bottom: 20px;
    text-decoration: underline;
}

.start-screen> div {
    margin-top: auto;
}
.button-play, .button-restart, .save-rank {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ddd;
    display: block;
    margin: 20px auto 0;
    font-size: 1rem;
    cursor: pointer;

}

.button-play:hover, .button-restart:hover, .save-rank:hover{
    background-color: #fff;
}

.game-over {
    scale: 0;
    animation: zoom 3s ease-in-out forwards;
}

.score-ui {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    font-size: 1rem;
    display: none;
}

.score-ui  > div {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.rank {
    position: fixed;
    top: 20px;
    right: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    animation: zoom 3s ease-in-out forwards;
}

.rank td{
    padding: 5px
}


.rank-input {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.rank-input > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.rank-input input {
    width: 240px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #00000000;
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}



.rank-input input:focus {
    border-color: #ffffff;
    box-shadow: 
        0 0 5px #ffffff,
        inset 0 0 3px rgba(255, 255, 255, 0.3);
}

.rank-input input::placeholder {
    color: wheat;
}


.score-ui,
.rank,
.rank-input {
    display: none;
}



@keyframes zoom {
    from{
        scale: 0;
    }

    to{
        scale: 1;
    }
}